.above-fold {
    height: 600px;
    background: url("../img/watches.jpg") 128% 1.5% / 500px no-repeat;
    border: 1px solid red;
    margin-left: auto;
    width: 960px;
}

.section__right-part {
    width: 50%; 
}

.section__right-part > img {
    width: 100%;
    height: 100%;
}


